<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/template/mainCommittee.xhtml">
	<ui:define name="title">
		<h:outputText value="Committee Home" />
	</ui:define>
		<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
		<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
	<ui:define name="content">
	<h:form >
	<center>
	 <h:dataTable var="trainer" value="#{committeeBean.trainers}"  border="2"  >
	  <h:column>
	  <f:facet name="header">Id</f:facet>
	  <h:outputText value="#{trainer.idUser}"/>	  
	  </h:column>
	  
	   <h:column>
	  <f:facet name="header">First Name</f:facet>
	  <h:outputText value="#{trainer.firstName}"/>	  
	  </h:column>
	  
	   <h:column>
	  <f:facet name="header">Last Name</f:facet>
	  <h:outputText value="#{trainer.lastName}"/>	  
	  </h:column>
	  
	  <h:column>
	  <f:facet name="header">curriculum Vitae</f:facet>
	  <h:outputText value="#{trainer.cvUrl}"/>	  
	  </h:column>
	 
	   <h:column>
	  <f:facet name="header">E-mail</f:facet>
	  <h:outputText value="#{trainer.email}"/>	  
	  </h:column>
	  
	 <h:column>
	  <f:facet name="header">vote</f:facet>
	  <h:commandButton value="Select">
	  	<f:setPropertyActionListener value="#{trainer}" target="#{committeeBean.t}"></f:setPropertyActionListener>
	  </h:commandButton>	  
	  </h:column>
	  	 
	  	 
	 </h:dataTable>
	 <br/>
	 <br/>
	  <h:commandButton action="#{committeeBean.voterPour()}" value="Vote" />
	    <h:commandButton action="#{committeeBean.download()}" value="Download CV" />
	 </center>
	
	</h:form>
	</ui:define>
	
	</ui:composition>