<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/template/mainPage.xhtml">
	<ui:define name="title">
		<h:outputText value="ajout d'un Quizz" />
	</ui:define>
	<!-- we'r going to use the name of the logged in person -->
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
	<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
	<ui:define name="content">
		<h:form enctype="multipart/form-data">
			<h:outputLabel value="Name Quizz" />
			<h:inputText value="#{quizzBean.name}" class="form-control" />
			<h:outputLabel value="Badge Name"  />
			<h:inputText value="#{quizzBean.nameBadge}"  />
			<br />
			 <p:fileUpload value="#{quizzBean.file1}" mode="simple" skinSimple="true"/>
			 <br />
			<h:outputLabel value="Note de passage" />
			<h:inputText value="#{quizzBean.note}" class="form-control" />
			<h:outputLabel value="question number" />
			<h:inputText value="#{quizzBean.qnumber}" />
			<h:commandButton action="#{quizzBean.displayQuestion()}"
				value="Display" />
			<br />
			<h:column>
				<c:forEach var="item" items="#{quizzBean.questions}"
					varStatus="loop">
					<h:outputLabel value="Question #{loop.index +1} :" />
					<h:inputText value="#{quizzBean.questions[loop.index].question}"
						class="form-control" />
					<c:forEach var="item2"
						items="#{quizzBean.questions[loop.index].answers}"
						varStatus="loop2">
						<h:outputLabel value="Answer #{loop2.index +1} :" />
						<h:inputText
							value="#{quizzBean.questions[loop.index].answers[loop2.index].answer}"
							class="form-control" />
						<h:selectOneRadio
							value="#{quizzBean.questions[loop.index].answers[loop2.index].verification}">
							<f:selectItem itemValue="true" itemLabel="true" />
							<f:selectItem itemValue="false" itemLabel="false" />
						</h:selectOneRadio>
					</c:forEach>
				</c:forEach>

			</h:column>
			<h:commandButton action="#{quizzBean.doAdd()}" value="Add" />
		</h:form>
	</ui:define>

</ui:composition>