<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/mainPage.xhtml">
	<ui:define name="title">
		<h:outputText value="afficher tout les quizz" />
	</ui:define>
	<!-- we'r going to use the name of the logged in person -->
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
	<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>

	<ui:define name="content">

		<h:form enctype="multipart/form-data">

			<c:forEach var="quiz" items="#{quizzBean.quizzs}" varStatus="loop">


				<h:outputText value="#{quizzBean.quizzs[loop.index].idQcm}" />
				<br />

				<h:outputText value="#{quizzBean.quizzs[loop.index].name}" />
				<br />
				<h:outputText value="#{quizzBean.quizzs[loop.index].badge.nameBadge}" />
				<br />
				<h:outputText value="#{quizzBean.quizzs[loop.index].successQuizz}" />
				<br />
				<h:commandButton styleClass="btn btn-primary btn-block btn-flat"
					action="#{quizzBean.doSelect()}" value="Select" style="font-weight: bold">
					<f:setPropertyActionListener
						value="#{quizzBean.quizzs[loop.index]}" target="#{quizzBean.qui}" />
				</h:commandButton>
				<h:commandButton styleClass="btn btn-primary btn-block btn-flat"
					action="#{quizzBean.doRenderTake()}" style="font-weight: bold" value="TakeQuizz">
					<f:setPropertyActionListener
						value="#{quizzBean.quizzs[loop.index]}" target="#{quizzBean.qui}" />
				</h:commandButton>
			</c:forEach>

		</h:form>


		
	</ui:define>
</ui:composition>