	<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/mainPage.xhtml">
	<ui:define name="title">
		<h:outputText value="afficher tout les quizz" />
	</ui:define>
	<!-- we'r going to use the name of the logged in person -->
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
	<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>

	<ui:define name="content">
		<h:form >
			<h:outputLabel value="quizz" />
			<h:inputText value="#{quizzBean.qui.name}" class="form-control" />
			<h:outputLabel value="note de passage" />
			<h:inputText value="#{quizzBean.qui.successQuizz}"
				class="form-control" />
			<br />
			<c:forEach var="quests" items="#{quizzBean.qui.questions}">
				<h:outputLabel value="question" />
				<h:inputText value="#{quests.question}" class="form-control" />
				<br />
				<c:forEach var="anss" items="#{quests.answers}">
					<h:outputLabel value="Answer" />
					<h:inputText value="#{anss.answer}" class="form-control" />
					<h:selectOneRadio value="#{anss.verification}">
						<f:selectItem itemValue="true" itemLabel="true" />
						<f:selectItem itemValue="false" itemLabel="false" />
					</h:selectOneRadio>
					<br />
				</c:forEach>
			</c:forEach>

			<h:commandButton action="#{quizzBean.doUpdate()}" value="Update"/>
			<h:commandButton action="#{quizzBean.doDelete()}" value="Delete"/>
			

		</h:form>
</ui:define>
</ui:composition>