<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/template/Loginpage.xhtml">
	
	

<ui:define name="content">
<h:form>
		 <h:inputText value="#{authentification.email}" type="text" class="form-control" pt:placeholder="mail" required="" />



		<h:inputSecret value="#{authentification.password}" type="password" class="form-control" pt:placeholder="Password" required="" />


<h:commandButton action="#{authentification.Login()}" value="login " />
</h:form>
</ui:define>
<ui:define name="next"><a href="#{request.contextPath}/learner/addLearner.jsf" >
									Create Account </a></ui:define>	
	</ui:composition>