<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" 
	xmlns:p="http://primefaces.org/ui" template="/template/mainPage.xhtml" >
	
	<ui:define name="title">
		<h:outputText value="Add a course proposition" />
	</ui:define>
	
	<ui:define name="user_name">
		<h:outputText value="Maryem" />
	</ui:define>
	<!-- form to add examen -->
	
	<ui:define name="content">
	<h:form  rendered="true">
	<center><b><u><h:outputText value="Add a course proposition" /></u></b><br /><br /><br /><br />
	<h:outputText value="Category" />
	<h:inputText value="#{coursePropositionAdd.category}" /><br /><br />
	<h:outputText value="Title" />
	<h:inputText value="#{coursePropositionAdd.title}" /><br /><br />
	<!--  <h:inputHidden value="#{coursePropositionAdd.idTrainer}" />-->
	<h:outputText value="Description" />
	<h:inputTextarea value="#{coursePropositionAdd.description}" /><br /><br />
	<h:commandButton action="#{coursePropositionAdd.addCourseProp()}" value="Add" />
	 	</center></h:form>
	 </ui:define>
	
	
	<!-- end form add examen -->
</ui:composition>