<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/template/mainPage.xhtml">
	<ui:define name="title">
		<h:outputText value="Add Course" />
	</ui:define>
	<!-- we'r going to use the name of the logged in person -->
	<ui:define name="user_name">
		<h:outputText value="karim" />
	</ui:define>
	<!-- form to add examen -->
	<ui:define name="content">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							Add Course <small>Moocs</small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i>
							</a></li>

							<li><a class="close-link"><i class="fa fa-close"></i> </a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
					
						<h:form id="demo-form2" class="form-horizontal form-label-left" enctype="multipart/form-data" >
						

							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Titel<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">							
									<h:inputText value="#{addCourseBean2.titel}" class="form-control col-md-7 col-xs-12"  required="required"  />	
								</div>
							</div>
							
							
							
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Desciption<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">							
									<h:inputTextarea  value="#{addCourseBean2.description}" class="form-control col-md-7 col-xs-12"  required="required"  />	
								</div>
								
							</div>
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">PDF Link<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">							
									<h:inputTextarea  value="#{addCourseBean2.urlpdf}" class="form-control col-md-7 col-xs-12"  required="required"  />	
									
								</div>
							</div>
							
							
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Video Link<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">							
									<h:inputTextarea  value="#{addCourseBean2.urlVideo}" class="form-control col-md-7 col-xs-12"  required="required"  />	
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Category<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">							
									<h:inputTextarea  value="#{addCourseBean2.category}" class="form-control col-md-7 col-xs-12"  required="required"  />	
								</div>
							</div>
							
							
							


							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> Start Date
									 <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									 <h:inputText pt:required="required" pt:type="date"  value="#{addCourseBean2.startdate}" id="birthday" class="date-picker form-control col-md-7 col-xs-12"   /> 
									<!--  <input value="2" type="date" required="required" />  -->								      								
								
								</div>
							</div>
							
							
							
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"> End Date
									 <span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
								<!--   <input value="#{addCourseBean2.enddate}" type="date" required="required" />  -->
									  <h:inputText value="1" class="date-picker form-control col-md-7 col-xs-12" pt:required="required"  pt:type="date" />
								</div>
							</div>																										
							
							
							<!-- Bonton display  -->
							   <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Chapter Number<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">							
									<h:inputText  value="#{addCourseBean2.chaptersnum}" class="form-control col-md-7 col-xs-12"  required="required"  />	
									<h:commandButton action="#{addCourseBean2.displayChapter()}" value="Display" />
								</div>
							</div>
							
							
						    <h:column rendered="#{addCourseBean2.display}">
							
							 <!-- chapter titel  -->										
							<h2>
							Add Chapters <small>Moocs</small>
						    </h2>						    				   					    
						   <!-- end chapter titel  --> 
						   
						   
						   						
							
							
                                   <!-- boucle chapters dynamic -->
                                 <!--  <c:forEach begin="1" end="5" var="a" >   -->
                               <!-- <ui:repeat var="blogPost" value="#{addCourseBean2.chapters}" varStatus = "loop">   -->

      							<!--    <h:inputTextarea id = "newComment" value="#{commentController.commentText[loop.index]}" rows="10" cols="40" />  -->
     						 
   							       <c:forEach var="item" items="#{addCourseBean2.chapters}" varStatus="loop" > 
   											 										 
           						   	<div class="form-group" >
										<label class="control-label col-md-3 col-sm-3 col-xs-12"
											for="first-name">Chapters #{loop.index} :<span class="required">*</span>
										</label>
										<div class="col-md-6 col-sm-6 col-xs-12"></div>
									</div>
							       
							       <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Chapter PDF Link<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">	
			                       <h:inputTextarea  value="#{item.urlPdf}" class="form-control col-md-7 col-xs-12"  required="required"  />	
													
								</div>
							</div>
							
							
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Chapter video Link<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">							
									<h:inputTextarea  value="#{addCourseBean2.chapters[loop.index].urlVideo}" class="form-control col-md-7 col-xs-12"  required="required"  />	
								</div>
							</div>
							       
							 <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Contained<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">							
									<h:inputTextarea  value="#{addCourseBean2.chapters[loop.index].contained}" class="form-control col-md-7 col-xs-12"  required="required"  />	
								</div>
							</div>      
							       
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Chapter Tiltel<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">							
									<h:inputText  value="#{addCourseBean2.chapters[loop.index].title}" class="form-control col-md-7 col-xs-12"  required="required"  />	
								</div>
							</div>       
							       
							 <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">chapter Description<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">							
									<h:inputTextarea  value="#{addCourseBean2.chapters[loop.index].description}" class="form-control col-md-7 col-xs-12"  required="required"  />	
								</div>
							</div> 
							
							 <div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Picture 1<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">																						  
                                    <p:fileUpload value="#{addCourseBean2.file1[loop.index]}" mode="simple" skinSimple="true"/>
								 
								</div>
							</div> 
							<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Picture 2<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">															  
                                     <p:fileUpload value="#{addCourseBean2.file2[loop.index]}" mode="simple" skinSimple="true"/>                                	
								</div>
							</div> 
						  
							<!--</ui:repeat>   -->
							  	</c:forEach>      
								<!-- end boucle chapters dynamic -->
							<!--  </c:forEach>  -->
							
							
							
							
							
							
							
								
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<!--  <button type="submit" class="btn btn-primary" >Cancel</button>   -->
									 <h:commandButton action="#{addCourseBean2.addCourse()}" value="ADD" class="btn btn-success" /> 
								</div>
							</div>
                             </h:column>
						</h:form>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core CSS -->

		<link href="#{request.contextPath}/resources/css/bootstrap.min.css"
			rel="stylesheet" />

		<link
			href="#{request.contextPath}/resources/fonts/css/font-awesome.min.css"
			rel="stylesheet" />
		<link href="#{request.contextPath}/resources/css/animate.min.css"
			rel="stylesheet" />

		<!-- Custom styling plus plugins -->
		<link href="#{request.contextPath}/resources/css/custom.css"
			rel="stylesheet" />
		<link
			href="#{request.contextPath}/resources/css/icheck/flat/green.css"
			rel="stylesheet" />
		<!-- editor -->
		<script src="js/bootstrap.min.js"></script>

	</ui:define>


	<!-- end form add examen -->
</ui:composition>