<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/mainPage.xhtml">
	<ui:define name="title">
		<h:outputText value="afficher tout les quizz" />
	</ui:define>
	<!-- we'r going to use the name of the logged in person -->
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
	<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>

	<ui:define name="content">
		<h:form>

			<h:outputText value="#{examenBean.qui.name}" class="form-control" />
			<br />
			<h:outputText value="#{examenBean.qui.successExamen}"
				class="form-control" />
			<br />
			<h:outputText value="#{examenBean.qnumber}" class="form-control" />
			<br />
			<c:forEach var="quests" items="#{examenBean.qui.questions}"
				varStatus="loop2">
				<h:outputText value="#{quests.question}" />
				<br />
				<h:selectOneMenu value="#{examenBean.mychoix[loop2.index]}">
					<c:forEach var="anss" items="#{quests.answers}" varStatus="loop">
						<f:selectItem
							itemValue="#{examenBean.qui.questions[loop2.index].answers[loop.index].verification}"
							itemLabel="#{anss.answer}" />
					</c:forEach>
				</h:selectOneMenu>
			</c:forEach>

			<h:commandButton action="#{examenBean.doTake()}" value="validate">

			</h:commandButton>
		</h:form>
		
	</ui:define>
</ui:composition>
