<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/template/mainPage.xhtml">
	
	
	<ui:define name="title"> Add Certificate </ui:define>
		<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
		<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
	<ui:define name="content">
	<h:form>
	<h:inputText value="#{certifBean.name}"  pt:placeholder="name" />
	
	<h:commandButton action="#{certifBean.doAdd()}" value="Add" />
	</h:form>
	</ui:define>
	
	
	
	
	
	
	</ui:composition>