<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/mainPage.xhtml">


	<ui:define name="title">
		<h:outputText value="list of Badges" />
	</ui:define>
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
		<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>

	<ui:define name="content">

		<h:form rendered="#{certifBean.list_aff}">
			<h:dataTable var="cer" value="#{certifBean.certifs}" border="2">
				<h:column>
					<f:facet name="header">Id</f:facet>
					<h:outputText value="#{cer.idCertificate}" />
				</h:column>

				<h:column>
					<f:facet name="header">Badge</f:facet>
					<h:outputText value="#{cer.nameCertificate}" />
				</h:column>
				<h:column>
					<f:facet name="header">action</f:facet>
					<h:commandButton value="select">
						<f:setPropertyActionListener value="#{cer}"
							target="#{certifBean.selectedCert}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="true"
							target="#{certifBean.show_Update}"></f:setPropertyActionListener>
					</h:commandButton>
				</h:column>
				



			</h:dataTable>
		</h:form>
		
		
		<h:form rendered="#{certifBean.show_Update}">
		<h:inputText value="#{certifBean.selectedCert.nameCertificate}" class="form-control" pt:placeholder="name" />
		<h:commandButton action="#{certifBean.doUpdate()}" value="Update" >
										<f:setPropertyActionListener value="false" target="#{certifBean.show_Update}"/>
										<f:setPropertyActionListener value="true" target="#{certifBean.list_aff}"/></h:commandButton>
		<h:commandButton action="#{certifBean.doDel()}" value="Delete" >
		
										<f:setPropertyActionListener value="false" target="#{certifBean.show_Update}"/>
										<f:setPropertyActionListener value="true" target="#{certifBean.list_aff}"/></h:commandButton>
		
		
		
		
		
		
		</h:form>
		
		
		
		
		


	</ui:define>


</ui:composition>




