<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui"
	   xmlns:t="http://myfaces.apache.org/tomahawk">
	   

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Inscription |</title>

<!-- Bootstrap core CSS -->

<link href="#{request.contextPath}/resources/css/bootstrap.min.css"
	rel="stylesheet" />

<link
	href="#{request.contextPath}/resources/fonts/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="#{request.contextPath}/resources/css/animate.min.css"
	rel="stylesheet" />

<!-- Custom styling plus plugins -->
<link href="#{request.contextPath}/resources/css/custom.css"
	rel="stylesheet" />
<link href="#{request.contextPath}/resources/css/icheck/flat/green.css"
	rel="stylesheet" />


<script src="js/jquery.min.js"></script>

<!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body style="background: #F7F7F7;">

	<div class="">
		<a class="hiddenanchor" id="toregister"></a> <a class="hiddenanchor"
			id="tologin"></a>

		<div id="wrapper">
        
        
          
            <h1>Create Account</h1>
            <div>
            <ui:insert name="content"></ui:insert> 
              <ui:insert name="fname"> </ui:insert>
            </div>
            <div>
              <ui:insert name="laname"> </ui:insert>
            </div>
            <div>
              <ui:insert name="mail"> </ui:insert>
            </div>
            <div>
             <ui:insert name="pass"> </ui:insert>
            </div>
            <div>
            <ui:insert name="Butadd"></ui:insert>
            </div>
            
            <div class="clearfix"></div>
            <div class="separator">

              <p class="change_link">Already a member ?<ui:insert name="next"></ui:insert>
                
              </p>
              <div class="clearfix"></div>
              <br />
              <div>
                <h1><i class="fa fa-paw" style="font-size: 26px;"></i> M.O.O.C.S</h1>

                <p>©2015 All Rights Reserved. moocs-web! is a Bootstrap 3 template. Privacy and Terms</p>
              </div>
            </div>
          
         
        

    </div>
  </div>

</body>

</html>
