<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	   xmlns:f="http://xmlns.jcp.org/jsf/core"
	   xmlns:h="http://xmlns.jcp.org/jsf/html"
	   xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	   xmlns:jsf="http://xmlns.jcp.org/jsf"
	   xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	   xmlns:p="http://primefaces.org/ui">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title><ui:insert name="title">
	</ui:insert></title>

  <!-- Bootstrap core CSS -->
  
 
  


  <link href="#{request.contextPath}/resources/fonts/css/font-awesome.min.css" rel="stylesheet"/>
  <link href="#{request.contextPath}/resources/css/animate.min.css" rel="stylesheet"/>

  <!-- Custom styling plus plugins -->
  <link href="#{request.contextPath}/resources/css/custom.css" rel="stylesheet"/>
  <link rel="#{request.contextPath}/resources/stylesheet" type="text/css" href="css/maps/jquery-jvectormap-2.0.3.css" />
  <link href="#{request.contextPath}/resources/css/icheck/flat/green.css" rel="stylesheet" />
  <link href="#{request.contextPath}/resources/css/floatexamples.css" rel="stylesheet" type="text/css" />

  <script src="#{request.contextPath}/resources/js/jquery.min.js"></script>
  <script src="#{request.contextPath}/resources/js/nprogress.js"></script>

  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>


<body class="nav-md">

  <div class="container body">


    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>M.O.O.C.S</span></a>
          </div>
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          <div class="profile">
            <div class="profile_pic">
              <img src="#{request.contextPath}/resources/images/img.jpg" alt="..." class="img-circle profile_img"/>
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2><ui:insert name="email">
	</ui:insert></h2>
            </div>
          </div>
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
              <h3>General</h3>
              <ul class="nav side-menu">
                <li><a><i class="fa fa-book"></i> Courses <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#{request.contextPath}/course/addCourseProp.jsf">add Course proposition</a>
                    </li>
                    <li><a href="#{request.contextPath}/course/addCourse2.jsf">add Course</a>
                    </li>  
                      <li><a href="#{request.contextPath}/course/displayCoursesTrainer.jsf">My Course</a>
                    </li> 
                  </ul>
                </li>
                <li><a><i class="fa fa-pencil-square-o"></i> Examen <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#{request.contextPath}/examen/trainer/addExamen.jsf">add Examen</a>
                    </li>
                    <li><a href="#{request.contextPath}/examen/trainer/list.jsf">Display Examen</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-question"></i> Quizz <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#{request.contextPath}/quizz/trainer/addQuizz.jsf">Add Quizz</a>
                    </li>
                    <li><a href="#{request.contextPath}/quizz/trainer/list.jsf">Display Quizz</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-tags"></i> Badge <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#{request.contextPath}/badge/addBadge.jsf">Add Badge</a>
                    </li>
                    <li><a href="#{request.contextPath}/badge/listBadge.jsf">Display Badges</a>
                    </li>
                  </ul>
                </li>
                <li><a><i class="fa fa-graduation-cap"></i> Certificate <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#{request.contextPath}/certificat/addCertif.jsf">Add Certificate</a>
                    </li>
                    <li><a href="#{request.contextPath}/certificat/listCertif.jsf">Display Certificate</a>
                    </li>
                  </ul>
                </li>
               <li><a><i class="fa fa-retweet"></i> Migration <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu" style="display: none">
                    <li><a href="#{request.contextPath}/learner/propTrainer.jsf">Migrate Learner to Trainer</a>
                    </li>
                    <li><a href="#{request.contextPath}/trainer/trainerComitee.jsf">Migrate Trainer to Committee</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
           
          </div>
          <!-- /sidebar menu -->

          <!-- /menu footer buttons -->
          <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
              <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
              <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
              <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
          </div>
          <!-- /menu footer buttons -->
        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">

        <div class="nav_menu">
          <nav class="" role="navigation">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  <img src="#{request.contextPath}/resources/images/img.jpg" alt=""/><ui:insert name="email">
	</ui:insert>
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                  <li><a href="javascript:;">  Profile</a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">Help</a>
                  </li>
                  <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </li>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list animated fadeInDown" role="menu">
                  <li>
                    <a>
                      <span class="image">
                                        <img src="#{request.contextPath}/resources/images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="#{request.contextPath}/resources/images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="#{request.contextPath}/resources/images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image">
                                        <img src="#{request.contextPath}/resources/images/img.jpg" alt="Profile Image" />
                                    </span>
                      <span>
                                        <span>John Smith</span>
                      <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                                        Film festivals used to be do-or-die moments for movie makers. They were where...
                                    </span>
                    </a>
                  </li>
                  <li>
                    <div class="text-center">
                      <a href="inbox.html">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>

            </ul>
          </nav>
        </div>

      </div>
      <!-- /top navigation -->


      <!-- page content -->
      <div class="right_col" role="main">
      <ui:insert name="content"></ui:insert> 

        <!-- top tiles -->
      
        <!-- /top tiles -->

        <!-- footer content -->

        <footer>
          <div class="copyright-info">
            <p class="pull-right">Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>  
            </p>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
      <!-- /page content -->

    </div>

  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="#{request.contextPath}/resources/js/bootstrap.min.js"></script>

  <!-- gauge js -->
  <script type="text/javascript" src="#{request.contextPath}/resources/js/gauge/gauge.min.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/js/gauge/gauge_demo.js"></script>
  <!-- bootstrap progress js -->
  <script src="#{request.contextPath}/resources/js/progressbar/bootstrap-progressbar.min.js"></script>
  <script src="#{request.contextPath}/resources/js/nicescroll/jquery.nicescroll.min.js"></script>
  <!-- icheck -->
  <script src="#{request.contextPath}/resources/js/icheck/icheck.min.js"></script>
  <!-- daterangepicker -->
  <script type="text/javascript" src="#{request.contextPath}/resources/js/moment/moment.min.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/js/datepicker/daterangepicker.js"></script>
  <!-- chart js -->
  <script src="#{request.contextPath}/resources/js/chartjs/chart.min.js"></script>

  <script src="#{request.contextPath}/resources/js/custom.js"></script>

  <!-- flot js -->
  <!--[if lte IE 8]><script type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
  <script type="text/javascript" src="#{request.contextPath}/resources/js/flot/jquery.flot.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/js/flot/jquery.flot.pie.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/js/flot/jquery.flot.orderBars.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/js/flot/jquery.flot.time.min.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/js/flot/date.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/js/flot/jquery.flot.spline.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/js/flot/jquery.flot.stack.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/js/flot/curvedLines.js"></script>
  <script type="text/javascript" src="#{request.contextPath}/resources/js/flot/jquery.flot.resize.js"></script>
 
  <!-- worldmap -->
  <script type="text/javascript" src="js/maps/jquery-jvectormap-2.0.3.min.js"></script>
  <script type="text/javascript" src="js/maps/gdp-data.js"></script>
  <script type="text/javascript" src="js/maps/jquery-jvectormap-world-mill-en.js"></script>
  <script type="text/javascript" src="js/maps/jquery-jvectormap-us-aea-en.js"></script>
  <!-- pace -->
  <script src="js/pace/pace.min.js"></script>
 
  <!-- skycons -->
  <script src="js/skycons/skycons.min.js"></script>


  <!-- dashbord linegraph -->
 
  <!-- /datepicker -->
  <!-- /footer content -->
</body>



	   
</html>