<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	xmlns:primefaces-p="http://primefaces.org/ui"
	template="/template/LearnerTemplate.xhtml">



	<ui:define name="title">
		<h:outputText value="list of Badges" />
	</ui:define>
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
	<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
	<ui:define name="search">
	<h:form>
		<h:inputText value="#{trainerBean.name}" pt:placeholder="search" />
		<p:commandButton action="#{trainerBean.showSearch()}"  value="search">
			
		</p:commandButton>
</h:form>
	</ui:define>

	<ui:define name="content">
		<h:head>
			<h:outputStylesheet library="css" name="rating.css" />
			<h:outputScript library="js" name="rating.js" />
		</h:head>




		<h:form rendered="#{trainerBean.list_aff}">
			<p:dataScroller value="#{trainerBean.trainersPop}" var="train"
				chunkSize="10">
				<f:facet name="header">
            Scroll Down to Load More Trainers
        </f:facet>

				<h:panelGrid columns="2" style="width:100%" border="3">



					<p:graphicImage library="images" name="trainer.jpg" width="80" />


					<p:outputPanel style="width:80%">
						<h:panelGrid columns="2" cellpadding="5">
							<h:outputText value="First-name" />
							<h:outputText value="#{train.firstName}"
								style="font-weight: bold" />

							<h:outputText value="Last-name:" />
							<h:outputText value="#{train.lastName}" style="font-weight: bold" />

							<h:outputText value="Note" />
							<p:rating value="#{train.note}" stars="5" readonly="true" />

							<p:commandButton action="#{trainerBean.showProfile()}"
								value="show trainer">
								<f:setPropertyActionListener value="#{train}"
									target="#{trainerBean.selectedTrainer}"></f:setPropertyActionListener>
							</p:commandButton>
						</h:panelGrid>




					</p:outputPanel>
				</h:panelGrid>
			</p:dataScroller>
		</h:form>






	</ui:define>




</ui:composition>