<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	xmlns:primefaces-p="http://primefaces.org/ui"
	template="/template/LearnerTemplate.xhtml">



	<ui:define name="title">
		<h:outputText value="list of Badges" />
	</ui:define>
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
	<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>

	<ui:define name="content">
		<h:head>
			<h:outputStylesheet library="css" name="rating.css" />
			<h:outputScript library="js" name="rating.js" />
		</h:head>
		<ui:define name="search">
	<h:form>
		<h:inputText value="#{trainerBean.name}" pt:placeholder="search" />
		<p:commandButton action="#{trainerBean.showSearch()}"  value="search">
			
		</p:commandButton>
</h:form>
	</ui:define>
		
		
		 <p:outputPanel>
			<h:panelGrid columns="2" cellpadding="5"  >
							<h:outputText value="First-name" />
							<h:outputText value="#{trainerBean.selectedTrainer.firstName}"
								style="font-weight: bold" />

							<h:outputText value="Last-name:" />
							<h:outputText value="#{trainerBean.selectedTrainer.lastName}" style="font-weight: bold" />

							<h:outputText value="Email:" />
							<h:outputText value="#{trainerBean.selectedTrainer.email}" style="font-weight: bold" />
							
								
							<h:outputText value="Note" />
							<p:rating value="#{trainerBean.selectedTrainer.note}" stars="5" readonly="true"  />
							
							<h:outputText value="Rate" />
							
							
							
							
							<h:form >
							
							<p:rating value="#{trainerBean.rating}" />
							<p:commandButton action="#{trainerBean.doNote()}" value="Rate" />
						    
							</h:form>
							
							
							
							<h:form >
							<p:commandButton action="#{trainerBean.showCourseTrainer()}"    value="show course"/>
							</h:form>
							</h:panelGrid>
							
						</p:outputPanel>	
							</ui:define>
							</ui:composition>
							