<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/template/LearnerTemplate.xhtml">
	<ui:define name="title">
		<h:outputText value="Chapters" />
	</ui:define>
	<!-- we'r going to use the name of the logged in person -->
	<ui:define name="user_name">
		<h:outputText value="karim" />
	</ui:define>
	<!-- form to add examen -->
	<ui:define name="content">
	

        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3> Media Gallery <small> gallery design</small> </h3>
            </div>
                </div>
              </div>
           
          <div class="clearfix"></div>

          <div class="row">
            <div class="col-md-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Media Gallery <small> gallery design </small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                
                
                
                
                
                <h:form>
                <div class="x_content">

                  <div class="row">

                    <p>Your Chapters</p>
                     <c:forEach var="item" items="#{displayChaptersBeanLearn.chapters}" varStatus="loop" >  
                    
                    <div class="col-md-55">
                      <div class="thumbnail">
                        <div class="image view view-first">
                          <div class="mask">
                            <p>#{item.title} <br/>
                               #{item.contained}<br/>
                               #{item.description}<br/>
                              </p>
                            <div class="tools tools-bottom">                            
                            </div>
                          </div>
                        </div>
                        <div class="caption">
                          <p>Course  #{loop.index}</p>
                           <h:commandButton  action="#{displayChaptersBeanLearn.DoGoTOchapterDetail()}" value="Dispaly  this Chapter" >
                             <f:setPropertyActionListener value="#{item}" target="#{displayChaptersBeanLearn.chapter}"></f:setPropertyActionListener>                             
                              </h:commandButton>
                        </div>
                      </div>                 
                      </div>
                      </c:forEach>                  
                    </div>
                  </div>
                  </h:form>
                  
                  
                  
                </div>
              </div>
            </div>
          
   

		<!-- Bootstrap core CSS -->

		<link href="#{request.contextPath}/resources/css/bootstrap.min.css"
			rel="stylesheet" />

		<link
			href="#{request.contextPath}/resources/fonts/css/font-awesome.min.css"
			rel="stylesheet" />
		<link href="#{request.contextPath}/resources/css/animate.min.css"
			rel="stylesheet" />

		<!-- Custom styling plus plugins -->
		<link href="#{request.contextPath}/resources/css/custom.css"
			rel="stylesheet" />
		<link
			href="#{request.contextPath}/resources/css/icheck/flat/green.css"
			rel="stylesheet" />
		<!-- editor -->
		<script src="js/bootstrap.min.js"></script>

	</ui:define>


	<!-- end form add examen -->
</ui:composition>