<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	template="/template/mainPage.xhtml">
	<ui:define name="title">
		<h:outputText value="Chapters" />
	</ui:define>
	<!-- we'r going to use the name of the logged in person -->
	<ui:define name="user_name">
		<h:outputText value="karim" />
	</ui:define>
	<!-- form to add examen -->
	<ui:define name="content">
	

        <div class="">
             <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2><i class="fa fa-bars"></i> Chapter <small>Details</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">


                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Text</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Video</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">PDF</a>
                      </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                      
                      
                       <!-- Text -->
                      <h:outputText value="#{displayChapterDetailsBean.chapter.title}" />
                      <br/><br/>
                       <h:outputText value="#{displayChapterDetailsBean.chapter.description}" />
                       <br/> <br/>
                       <h:outputText value="#{displayChapterDetailsBean.chapter.contained}" />
                       <br/> <br/>
                       
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                       
                       <!-- Video -->
                       <iframe width="550" height="400" src="#{displayChapterDetailsBean.chapter.urlVideo}" frameborder="0"></iframe>
                       
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                       
                       <!-- PDF -->
                    <!--     <iframe src="#{displayChapterDetailsBean.chapter.urlPdf}" style="width:600px; height:500px;" frameborder="0"></iframe> -->
                   <!--  <iframe src="http://docs.google.com/gview?url=http://path.com/to/your/pdf.pdf" style="width:600px; height:500px;" frameborder="0"></iframe>  -->
                    <iframe src="#{displayChapterDetailsBean.chapter.urlPdf}" width="800" height="600" align="middle"></iframe>                
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
   

		<!-- Bootstrap core CSS -->

		<link href="#{request.contextPath}/resources/css/bootstrap.min.css"
			rel="stylesheet" />

		<link
			href="#{request.contextPath}/resources/fonts/css/font-awesome.min.css"
			rel="stylesheet" />
		<link href="#{request.contextPath}/resources/css/animate.min.css"
			rel="stylesheet" />

		<!-- Custom styling plus plugins -->
		<link href="#{request.contextPath}/resources/css/custom.css"
			rel="stylesheet" />
		<link
			href="#{request.contextPath}/resources/css/icheck/flat/green.css"
			rel="stylesheet" />
		<!-- editor -->
		<script src="js/bootstrap.min.js"></script>

	</ui:define>


	<!-- end form add examen -->
</ui:composition>