
<!DOCTYPE  html >
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui"
	xmlns:t="http://myfaces.apache.org/tomahawk"
	template="/template/inscriPage.xhtml">
	


		
<ui:define name="content">
<h:form enctype="multipart/form-data" >
<h:inputText  value="#{learnerBean.firstname}" class="form-control" pt:placeholder="firstname" />
<h:inputText  value="#{learnerBean.lastname}" class="form-control" pt:placeholder="lastname" />
<h:inputText   value="#{learnerBean.email}" class="form-control" pt:placeholder="Email"  />
<h:inputSecret  value="#{learnerBean.password}" class="form-control" pt:placeholder="Password"  />
<p:fileUpload value="#{learnerBean.file1}" mode="simple" skinSimple="true"/>


         
<h:commandButton action="#{learnerBean.doAdd()}"  value="Add"/>

 </h:form>
  


 </ui:define> 
<ui:define name="next"> <a href="#{request.contextPath}/public/Login.jsf" > Log in </a></ui:define>
</ui:composition>