<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/LearnerTemplate.xhtml">


	<ui:define name="title">
		<h:outputText value="list of Badges" />
	</ui:define>
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
		<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>

	<ui:define name="content">

		<h:form rendered="#{badgeBean.list_aff}">
			<p:dataScroller var="bad" value="#{badgeBean.badges}" chunkSize="15">
				  <f:facet name="header">
            Scroll Down to Load More Badges
        </f:facet>
				<h:panelGrid columns="1" style="width:15%" columnClasses="logo,detail" border="5">
				
				<img src="#{request.contextPath}/badge/badge.jpg" alt="..." class="img-circle profile_img"/>
				<p:outputPanel>
				<h:panelGrid columns="2" cellpadding="5">
					<h:outputText value="Id:" />
					<h:outputText value="#{bad.idBadge}" style="font-weight: bold" />
				

					<h:outputText value="Name" />
					<h:outputText value="#{bad.nameBadge}" style="font-weight: bold"/>
				
				
					<h:commandButton value="select">
						<f:setPropertyActionListener value="#{bad}"
							target="#{badgeBean.selectedBadge}"></f:setPropertyActionListener>
						<f:setPropertyActionListener value="true"
							target="#{badgeBean.show_Update}"></f:setPropertyActionListener>
					</h:commandButton>
			</h:panelGrid>
			</p:outputPanel>
			</h:panelGrid>
			</p:dataScroller>
				
				



			
		</h:form>
		
		
		<h:form rendered="#{badgeBean.show_Update}">
		<h:inputText value="#{badgeBean.selectedBadge.nameBadge}" class="form-control" pt:placeholder="name" />
		<h:commandButton action="#{badgeBean.doUpdate()}" value="Update" >
										<f:setPropertyActionListener value="false" target="#{badgeBean.show_Update}"/>
										<f:setPropertyActionListener value="true" target="#{badgeBean.list_aff}"/></h:commandButton>
		<h:commandButton action="#{badgeBean.doDel()}" value="Delete" >
		
										<f:setPropertyActionListener value="false" target="#{badgeBean.show_Update}"/>
										<f:setPropertyActionListener value="true" target="#{badgeBean.list_aff}"/></h:commandButton>
		
		
		
		
		
		
		</h:form>
		
		
		
		
		


	</ui:define>


</ui:composition>




