<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/LearnerTemplate.xhtml">
	<ui:define name="title">
		<h:outputText value="afficher tout les examens" />
	</ui:define>
	<!-- we'r going to use the name of the logged in person -->
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
		<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>

	<ui:define name="content">

		<h:form rendered="#{examenBean.list_aff}">
			<p:dataScroller chunkSize="10" var="exa" value="#{examenBean.examens}" >
				 <f:facet name="header">
            Scroll Down to Load More Exams
        </f:facet>
        <h:panelGrid columns="1" style="width:15%" columnClasses="logo,detail" border="5" >
				 <img src="#{request.contextPath}/examen/exam.jpg" alt="..." class="img-circle profile_img"/>
				<p:outputPanel>
					<h:panelGrid columns="2" cellpadding="5">
					<h:outputText value="Id:" />
					<h:outputText value="#{exa.idQcm}" style="font-weight: bold"/>
				

					<h:outputText value="Examen" />
					<h:outputText value="#{exa.name}" style="font-weight: bold" />
				
				
					
				<h:commandButton
										styleClass="btn btn-primary btn-block btn-flat" action=" "
										value="Update" style="font-weight: bold">
										<f:setPropertyActionListener value="#{exa}" target="#{examenBean.exam}"/>
										
										<f:setPropertyActionListener value="true" target="#{examenBean.show_Update}"/>
										<f:setPropertyActionListener value="false" target="#{examenBean.list_aff}"/>
									</h:commandButton>
			</h:panelGrid>
			</p:outputPanel>
			</h:panelGrid>
			</p:dataScroller>
		</h:form>
		
		<h:form rendered="#{examenBean.show_Update}">
		<h:outputLabel value="Examen" />
		<h:inputText value="#{examenBean.exam.name}" class="form-control"/>
		<br />
		<c:forEach var="quests" items="#{examenBean.exam.questions}" >
		<h:outputLabel value="question" />
		<h:inputText value="#{quests.question}" class="form-control"/>
		<br />
		<c:forEach var="anss" items="#{quests.answers}" >
		<h:outputLabel value="Answer" />
		<h:inputText value="#{anss.answer}" class="form-control"/>
		<br />
		</c:forEach>
		</c:forEach>
		
		<h:commandButton action="#{examenBean.doUpdate()}" value="Update" >
										<f:setPropertyActionListener value="false" target="#{examenBean.show_Update}"/>
										<f:setPropertyActionListener value="true" target="#{examenBean.list_aff}"/></h:commandButton>
		<h:commandButton action="#{examenBean.doDel()}" value="Delete" >
		
										<f:setPropertyActionListener value="false" target="#{examenBean.show_Update}"/>
										<f:setPropertyActionListener value="true" target="#{examenBean.list_aff}"/></h:commandButton>
		</h:form>

	</ui:define>
</ui:composition>