<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/LearnerTemplate.xhtml">
	


	<ui:define name="title">
		<h:outputText value="list of Badges" />
	</ui:define>
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
		<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
<ui:define name="search">
    <h:form>
            <li><h:commandButton action="#{trainerBean.trainersRech}" value="search"></h:commandButton></li>
           <li> <h:inputText value="#{trainerBean.name}" class="form-control" pt:placeholder="search" /> </li>
            
            </h:form>
</ui:define>
	<ui:define name="content">
	<h:form >
<h:outputText value="#{authentification.loggedUser.firstName}" >First Name</h:outputText>
<h:outputText value="#{authentification.loggedUser.lastName}"     >Last Name</h:outputText>
<h:outputText value="#{authentification.loggedUser.email}"     >Email</h:outputText>
<h:outputText value="#{authentification.loggedUser.password}"     >Password</h:outputText>

  
 </h:form>
 
 
  
 
	
	</ui:define>
	</ui:composition>
	