<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/LearnerTemplate.xhtml">


	<ui:define name="title">
		<h:outputText value="list of Badges" />
	</ui:define>
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
		<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>

	<ui:define name="content">
	

	<h:form >
	<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">First Name<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
<h:inputText   binding="#{input1}"  class="form-control" pt:placeholder="#{authentification.loggedUser.firstName}" />
	</div>
							</div>
							
<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Last name<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
<h:inputText   binding="#{input2}"  class="form-control" pt:placeholder="#{authentification.loggedUser.lastName}" />
	</div>
							</div>
							
<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Email<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
<h:inputText   binding="#{input3}"  class="form-control" pt:placeholder="#{authentification.loggedUser.email}"  />
	</div>
							</div>
							
<div class="form-group">
								<label class="control-label col-md-3 col-sm-3 col-xs-12"
									for="first-name">Password<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
<h:inputText   binding="#{input4}"  class="form-control" pt:placeholder="#{authentification.loggedUser.password}" />
	</div>
							</div>
							
<!--  
<h:inputText  value="#{learnerBean.logged.lastName}" class="form-control" pt:placeholder="#{authentification.loggedUser.lastName}" ></h:inputText>
<h:inputText   value="#{learnerBean.logged.email}" class="form-control" pt:placeholder="#{authentification.loggedUser.email}"  ></h:inputText>
<h:inputText  value="#{learnerBean.logged.password}" class="form-control" pt:placeholder="#{authentification.loggedUser.password}"  ></h:inputText>
 -->
         
<h:commandButton action="#{learnerBean.doUpdate(input1.value,input2.value,input3.value,input4.value,authentification.loggedUser.firstName)}" value="Update"></h:commandButton>	
  
 </h:form>
  
 
	
	</ui:define>
	</ui:composition>
	