<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" 
	xmlns:p="http://primefaces.org/ui" template="/template/mainPage.xhtml" >
	
	<ui:define name="title">
		<h:outputText value="Add a trainer proposition" />
	</ui:define>
	
	
	<ui:define name="user_name">
		<h:outputText value="Maryem" />
	</ui:define>
	<!-- form to add examen -->
	
	<ui:define name="content">
	<h:form enctype="multipart/form-data">
	<center><b><u><h:outputText value="Add a trainer proposition" /></u></b><br /><br /><br /><br />
	<h:outputText value="Curriculum Vitae" />
    <p:fileUpload value="#{learnerPropTrainer.upf}" mode="simple" skinSimple="true"/>
   	
	<h:commandButton action="#{learnerPropTrainer.addDemandeTrainer()}" value="Add" />
	 	</center>
	 	</h:form>
	 </ui:define>
	
	
	<!-- end form add examen -->
</ui:composition>