<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" template="/template/LearnerTemplate.xhtml">
	<ui:define name="title">
		<h:outputText value="afficher tout les quizz" />
	</ui:define>
	<!-- we'r going to use the name of the logged in person -->
	<ui:define name="user_name">
		<h:outputText value="#{authentification.email}" />
	</ui:define>
		<ui:define name="email">
		<h:outputText value="#{authentification.email}" />
	</ui:define>

	<ui:define name="content">

		<h:form rendered="#{quizzBean.list_aff}">
			<h:dataTable var="quiz" value="#{quizzBean.quizzs}" border="2">
				<h:column>
					<f:facet name="header">Id</f:facet>
					<h:outputText value="#{quiz.idQcm}" />
				</h:column>

				<h:column>
					<f:facet name="header">Examen</f:facet>
					<h:outputText value="#{quiz.name}" />
				</h:column>
				<h:column>
					<f:facet name="header">Update</f:facet>
														<h:commandButton
										styleClass="btn btn-primary btn-block btn-flat" action=" "
										value="Update">
										<f:setPropertyActionListener value="#{quiz}" target="#{quizzBean.qui}"/>
										
										<f:setPropertyActionListener value="true" target="#{quizzBean.show_Update}"/>
										<f:setPropertyActionListener value="false" target="#{quizzBean.list_aff}"/>
									</h:commandButton>
				</h:column>

			</h:dataTable>
		</h:form>
		
		<h:form rendered="#{quizzBean.show_Update}">
		<h:outputLabel value="Examen" />
		<h:inputText value="#{quizzBean.qui.name}" class="form-control"/>
		<br />
		<c:forEach var="quests" items="#{quizzBean.qui.questions}" >
		<h:outputLabel value="question" />
		<h:inputText value="#{quests.question}" class="form-control"/>
		<br />
		<c:forEach var="anss" items="#{quests.answers}" >
		<h:outputLabel value="Answer" />
		<h:inputText value="#{anss.answer}" class="form-control"/>
		<br />
		</c:forEach>
		</c:forEach>
		
		<h:commandButton action="#{quizzBean.doUpdate()}" value="Update" >
										<f:setPropertyActionListener value="false" target="#{quizzBean.show_Update}"/>
										<f:setPropertyActionListener value="true" target="#{quizzBean.list_aff}"/></h:commandButton>
		<h:commandButton action="#{quizzBean.doDel()}" value="Delete" >
		
										<f:setPropertyActionListener value="false" target="#{quizzBean.show_Update}"/>
										<f:setPropertyActionListener value="true" target="#{quizzBean.list_aff}"/></h:commandButton>
		</h:form>

	</ui:define>
</ui:composition>